:root {
    font-size: 62.5%;
    font-family: Arial sans-serif;
}

html, body, main {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-size: 1.6rem;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 100vh;
}

#danceContainer {
    background-color: palevioletred;
    padding: 10px 15px;
}

#agentContainer {
    display: flex;
    flex-direction: column;
}

#agentMessages {
    padding: 10px;
    flex: 1 1 auto;
    overflow-y: auto;
    background-color: papayawhip;
    display: flex;
    flex-direction: column;
}

.message {
    margin: 5px 10px;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 2rem;
}

.message--agent {
    background-color: whitesmoke;
    align-self: flex-start;
}

.message--user {
    background-color: palevioletred;
    align-self: flex-end;
    color: white;
}

#agentControl {
    flex: none;
    display: flex;
    padding: 10px;
    background-color: whitesmoke;
    position: relative;
}

#agentInput {
    border-radius: 5px;
    border: 1px solid silver;
    width: 100%;
    font-size: 2rem;
    padding: 10px 40px 10px 10px;
}

#agentMicrophone {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
}