:root {
    font-size: 62.5%;
    font-family: Arial sans-serif;
}

html, body, main {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-size: 1.6rem;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 100vh;
}

#danceContainer {
    background-color: lightslategray;
    padding: 10px 15px;
    box-shadow: inset -5px 0px 10px -2px rgba(0, 0, 0, 0.2);
    position: relative;
}

#agentContainer {
    display: flex;
    flex-direction: column;
}

#agentMessages {
    padding: 10px;
    flex: 1 1 auto;
    overflow-y: auto;
    background-color: azure;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.message {
    margin: 5px 10px 15px;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 2rem;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.2);
}

.message--agent {
    background-color: whitesmoke;
    align-self: flex-start;
}

.message--user {
    background-color: palevioletred;
    align-self: flex-end;
    color: white;
}

#agentControl {
    flex: none;
    display: flex;
    padding: 10px;
    background-color: whitesmoke;
    position: relative;
}

#agentInput {
    border-radius: 5px;
    border: 1px solid silver;
    width: 100%;
    font-size: 2rem;
    padding: 10px 40px 10px 10px;
}

#agentMicrophone {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
}

.recording {
    fill: palevioletred;
}

.dance-title {
    text-align: center;
    color: white;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 20px auto 0;
    width: 50%;
    background-color: palevioletred;
}

.figure {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: transform .5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.figure:not(.active) {
    transform: translateX(100%);
}

.dance-video {
    margin: 30px auto 0;
    display: block;
    max-width: 40vw;
}